@import "bootstrap-sprockets";
@import "bootstrap";
@import "comments";
@import "footer";

/* Large Devices, Wide Screens
------------------------------------------------------------ */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops
------------------------------------------------------------- */
@media only screen and (max-width : 992px) {
  footer {
    p.lead { margin: 5px 0 0; }
  }
}

/* Small Devices, Tablets
------------------------------------------------------------- */
@media only screen and (max-width : 768px) {

<<<<<<< Updated upstream
  /* Sticky footer styles
  -------------------------------------------------- */
=======
  /* Sticky footer styles */
>>>>>>> Stashed changes
  body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
    .content {
      h1 {
        margin: 0;
        padding: 20px;
      }
      margin-bottom: 0;
      padding: 0;
    }
  }

  .footer {
    height: 200px;
    p.lead {
      text-align: center;
      margin-top: 28px;
    }
    li {
      margin-top: 6px;
    }
  }

}

/* Extra Small Devices, Phones
------------------------------------------------------------- */
@media only screen and (max-width : 480px) {

  //styles for story show
  .story-show-page {
    td {
      display: block;
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  // styles for new comment button
  div.submit.text-right {
    #cancel {
      width: 50%;
    }
    .fsubmit {
      width: 50%;
    }
  }
}

/* Custom, iPhone Retina
--------------------------------------------------------------- */
@media only screen and (max-width : 320px) {

}
