// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comments layout
.replies .replies .replies .replies .replies {
  ul {
    padding-left: 0;
  }
}

.img-40 {
  width: 40px;
  height: 40px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

// styles for story show page new comment form
#new-comment {
  border-radius: 0;
}

div.submit.text-right {
  padding: 0;
  // background-color: #d4dce2;
  height: 45px;
  border: 1px solid #ccc;
  color: #fff;
  #cancel {
    height: 100%;
    width: 150px;
    background-color: #4b5963;
    border: 0;
    margin-right: -5px;
  }
  .fsubmit {
    height: 100%;
    width: 200px;
    background-color: #073648;
    border: 0;
    padding: 0;
  }
}
