/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  .navbar { margin-bottom: 0;}

  margin-bottom: 100px;
  background-image: image-url("/images/white-wall.png");
  .content {
    background-image: image-url("/images/paper.jpg");
    padding: 6px 50px 20px 50px;
    min-height: 500px;
  }
}

.mgt10 { margin-top: 10px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #333;
  p, ul {
    color: #ddd;
  }
  a {
    color: #a94442;
    &:hover{
      color: #d2211d;
    }
  }
}

/* navbar navbar-default background-color */

nav.navbar.navbar-inverse {
  border-radius: 0;
  background-color: #073648;

  li > a, .navbar-brand {
    color: #ddd;
    &:hover {
      color: #FFF;
    }
  }

  li.dropdown {
    a:focus {
      background-color: #073648;
    }
    ul > li > a {
      color: #333;
      &:hover {
        background-color: #073648;
        color: #FFF;
      }
    }
  }
}
